<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--links to Mapbox and Leaflet-->
        <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
        <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />

    <title>Spooky Southampton</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="static/css/grayscale.min.css" rel="stylesheet">
    <link href="static/css/grayscale.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <span class="light">Spooky</span> Southampton
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#redlion">The Red Lion Pub</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#station">The Station Pub</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#merchants">The Medieval Merchant's House</a>
                    </li>
                      <li>
                        <a class="page-scroll" href="#tudor">The Tudor House Museum</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#spookmap">The Spook Map</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">The Spook Map</h1>
                        <p class="intro-text">A map of spooky places in Southampton.
                            <br>Created by Adelle Wigley.</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="redlion" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>The Red Lion Pub, High Street, Southampton</h2>
                <p>The Red Lion is something of an institution in the city.  It is a bit of a mish-mash of time periods as the cellars date from 1148, parts of the main building are Tudor and the interior in part dates from the 1950s.  This all gives scope for the building to be very active indeed!</p>
                <p>The chief claim to fame for the Red Lion is the fact that it was the scene of the treason trial of the so-called ‘Southampton Plot’ conspirators, Richard, Earl of Cambridge, Lord Scrope of Masham and Sir Thomas Grey of Heton.  They plotted the death of Henry V in 1415, were denounced by Edmund Mortimer, fifth Earl of March, the person they wished to put in Henry’s place, and ended up on trial in the Red Lion.  Needless to say, they were all found guilty and were led to their fates from the pub to the Bargate, just up the road.  There have since been numerous sightings of a ghostly procession of mournful people leaving the pub.</p>
                <p>Other resident spirits at the Red Lion include the lady in her sixties who drifts through the bar area and the owner of heavy boots, whose footsteps reverberate through the cellar.</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="station" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>The Station Pub, Bitterne</h2>
                    <p>The regular who sat at the end of the bar in the Station Pub is still there. The area has been extensively remodelled though and now her spot is within the ladies’ toilets.  Visitors to the facilities are sometimes startled to be tapped on the shoulder while they are there!</p>
                    <p>CCTV has picked up the image of a man standing under the wall light by the snooker table, quietly guarding during the night.</p>
                    <p>The cellar is divided into two sections, one being much smaller than the other.  This holds the boiler and is used as a storeroom for seasonal bits and pieces, like Christmas decorations.  This room’s door is permanently wedged open.  Whenever the door is shut, the contents of the room are thrown about. Staff find it easier to keep the door open rather than continually tidy the mess!</p>
                    <p>A former landlady reported the fact that she had seen plates move from a storage rack in the kitchen and smash on the floor.  She had also heard whistling coming from the gents’ toilets when the premises were closed to the public. She thought it was the pub’s chef, the sole other member of staff on the premises, only to find him working in the kitchen.</p>
                </div>
            </div>
        </div>
    </section>

  <!-- About Section -->
    <section id="merchants" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>The Medieval Merchant's House, 58 French Street</h2>
              <p>This is one of the earliest surviving houses in England, dating from the end of the thirteenth century.  That it still stands is something of a miracle, given the damage it sustained in the sack of Southampton at the hands of the French and Genoese in 1338.  It also made it through the Southampton blitz in 1940, when many of its neighbours were lost.</p>
              <p>Wine merchant John Fortin built the house for his family.  Over time, it has been divided into flats, made into a house again and was Mrs Collins’s Lodging House for Theatricals.  It was a pub in the nineteenth century, the Bull’s Head Inn, during which time it was known for the mischievous spirit that kept blowing out the candles in the cellar.  Ian Fox relates the story of Sarah Jane Allen, married to the owner’s son, who often woke in the mornings to find a woman standing at the end of the bed, wearing a dirty dress.  She would vanish when Sarah Jane tried to alert her sleeping husband to the woman’s presence.</p>
              <p>During the Second World War, it was a brothel and there is a story of the killing of a sailor at the house by a resident prostitute after a dispute over her fees. There have been numerous reports of strange footsteps on the wooden staircase and a theatrical group that used the house as their base reported a woman’s shape seen in a bedroom, which then drifted through a bricked up doorway.  Visitors are often pushed in the back by unseen hands and the heavy front doors slam shut without warning.</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="tudor" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>The Tudor House Museum</h2>
                    <p>At one stage, the police must have been really fed up with the spirits in the Tudor House Museum!  Local residents regularly called them to say that there were intruders in the house as the lights were on in the building.  When police arrived and investigated, there were no signs of a break in and all was well in the house, apart from the fact that the lights were on.  Calls stopped after a medium was called in and it was realized that the spirit was probably bored. The spirit was given a ball to play with.  The ball disappeared and now the lights stay off.</p>
                    <p>There have been several paranormal investigations at the Tudor House Museum.  Haunted Southampton Ltd reported the fact that their heat seeking equipment picked up the image of a man sitting on a chair in an area where there was a thick wall with a sturdy cupboard in front of it.  Other investigators have reported seeing figures walk across rooms and disappearing through bricked up doorways.</p>
                </div>
            </div>
        </div>
    </section>   

    <!-- Map Section -->
    <section id="spookmap">
    <div id="map"></div>
        <script src="static/js/map.js"></script>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>Contact for further spookformation, ghostly sigtings or reassurance!!</p>
                <p><a href="mailto:adellewigley@gmail.com">adellewigley@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/share" class="btn btn-default btn-lg" data-size="large" data-show-count="false">Tweet<i class="fa fa-twitter fa-fw"></i> <span class="network-name"></span></a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </li>
                    <li>
                        <a href="https://github.com/adellewigley" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Adelle Wigley 2017</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="static/js/grayscale.min.js"></script>

    <!--Twitter Javascript link-->
    <script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
        t._e.push(f);
        };

        return t;
        }(document, "script", "twitter-wjs"));</script>

</body>

</html>
